#AppContainer {
  display: flex;
  align-items:center;
  justify-content: center;
  width:100vw;
  height:100vh;
}
#heading {
  font-size:4vw;
  padding-bottom:10px;
}
#back {
  float:right;
  padding-top:5px;
  font-weight: bold;
  font-size: 2vw;
}


